.App {
  text-align: center;
  padding: 30px;
}
.autocomplete-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid #999;
  padding: 8px;
  width: 300px;
}
label {
  margin-bottom: 15px;
}

.no-autocomplete-list {
  color: #999;
  padding: 8px;
}

.autocomplete-list {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
  margin: auto;
}

.autocomplete-list li {
  padding: 8px;
}

.autocomplete-list > .active,
.autocomplete-list li:hover {
  background-color: darkgray;
  cursor: pointer;
  font-weight: 700;
}
.autocomplete-list li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
